:root {
    --base-color : #161616;
    --first-layer-color : #313131; 
    --second-layer-color : #575757;
    --title-font_size : 48px;
    --side-bar-border : 1px;
}

body {
    background-color: var(--base-color);
    width: 100vw;
    height: 100vh;
    margin : 0px;
    display: flex;
    color : white;
}


.side-bar {
    width: 20vw;
    height: 100vh;
    background-color: var(--first-layer-color);
    margin-left : 3%;
    border-radius: 10px;
}

.side-bar__header {
    margin-left: 5%;
    margin-top : 3%;
}

.side-bar__header--profile {
    display: flex;
    align-items: center;
}


.side-bar__header--profile--img{
    width: 50px;
    height: 50px;
    border-radius: 70%;
    overflow: hidden;
    margin-right: 5%;
}


.profile-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.side-bar__hedaer--profile--userName {
    margin-bottom: 10%;
    font-size: 25px;
    font-weight: bold;
}

.side-bar__header--profile--content {
    margin-top: 2%;
}

.side-bar__content {
    width: 100%;
    height: 80%;
    margin-top: 10%;
}

.side-bar__button {
    border : none;
    width: 100%;
    height: 10%;
    box-sizing: border-box;
    border-bottom: var(--side-bar-border) solid rgb(92, 91, 91);
    background-color: rgba(0, 0, 0, 0);
    color : white;
    display: flex;
    align-items: center;
    padding-left: 10%;
}


.btn{
    transition-property: background-color;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
}

.btn:hover {
    cursor: pointer;
    background-color: #191c1f;
}

.hover {
    background-color: white;
}

.side-bar__button-icon {
    width: 20px;
    height: 20px;
    color: white;
    margin-right: 3%;
}

.side-bar__button-btnText {
    font-size: 20px;
}

.side-bar__button-first {
    border-top : var(--side-bar-border) solid rgb(92, 91, 91);
}

.calendar {
    margin-left: 2%;
    margin-top : 1%;
    height: 10vh;
}

.calendar__header {
    height: 10vh;
}

.calendar__header-title {
    font-size: var(--title-font_size);
    font-weight: bold;
}

.calendar__header-btn--container {
    position: absolute;
    left: 90%;
    display: flex;
    width: 100px;
    height: 50px;

}

.arrow {
    width: 20px;
    height: 20px;
}


.arrowRight {
    display: block;
    border : 0px;
    border-left: 5px solid white;
    border-bottom: 5px solid white;
    transform: rotate(-135deg);
    background-color: rgba(0, 0, 0, 0);
    margin-left:auto;
}


.arrowLeft {
    display: block;
    border : 0px;
    border-left: 5px solid white;
    border-bottom: 5px solid white;
    transform: rotate(45deg);
    background-color: rgba(0, 0, 0, 0);
}

.hoverPointer:hover {
    cursor: pointer;
}

.calendar__content {
    width: 65vw;
    height: 60vh;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 3vh 1fr 1fr 1fr 1fr;
    margin-top: 5%;
    margin-left: 3%;
    column-gap: 2%;
    row-gap: 1%;
}

.calendar__days--day{
    font-size: 12px;
    font-weight: bold;  
}


.sun {
    color : rgb(255, 55, 55);
}

.sat {
    color:rgb(113, 103, 253);
}

.calendar__content--sampleCell--title {
    transition-property: opacity;
    transition-duration: 0.1s;
    transition-timing-function: ease-in;
    opacity: 90%;
    margin-left: 1%;
    margin-top: 2%;
    font-size: 16px;
    font-weight: bold;
}
.calendar__content--sampleCell--plan {
    opacity : 90%;
    width: 90%;
    margin :auto;
    margin-top: 10%;
    border-radius: 10px;
    background-color: #313131;
    padding-left: 3%;
    transition-property: background-color, opacity;
    transition-duration: 0.1s;
    transition-timing-function: ease-in;
}

.calendar__content--sampleCell:hover {
    background-color: var(--first-layer-color);
    border-radius : 5%;
    .calendar__content--sampleCell--plan {
        background-color: var(--second-layer-color);
        opacity: 100%;
    }
    .calendar__content--sampleCell--title {
        opacity: 100%;
    }
}

.calendar__content--sampleCell {
    transition-property: background-color;
    transition-duration: 0.1s;
    transition-timing-function: ease-in;
}

.blur {
    opacity: 50%;
}
